.app-header {
    background-color: $clr3;


    .app-header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .gig-header-link {
        color: $clr5;
        text-decoration: none;
        transition: color 70ms cubic-bezier(.75, 0, .25, 1);




        &:hover {
            color: $clr1;

        }
    }

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: $clr1;

        .score {
            background-color: $clr2;
            color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .user-info .btn-link {
        color: $clr2;
    }

    nav {
        font-size: .8em;
        // background-color: $clr3;
    }

    // nav a:first-child {
    //     margin-right: 30px;
    // }

    // nav a:not(:first-child) {
    //     border-top: 1px solid $clr1;
    //     padding: 0 5px;
    //     margin: 10px;
    // }

    nav .active {
        color: $clr1;
    }

    .join-btn {
        background-color: transparent;
        border: 1px solid $clr1;
        color: $clr1;
        padding: 10px 16px;
        border-radius: 4px;
        transition: background-color 70ms cubic-bezier(.75, 0, .25, 1);

        &:hover {
            background-color: $clr1;
            color: $clr3;

        }
    }

}