.categories-menu {
    border-bottom: 1px solid #e4e5e7;
    // opacity: 1;
    overflow: hidden;

    ul {
        color: $clr5;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    li {
        flex-shrink: 0;
        cursor: pointer;
        padding: .5em .625em;

        &:hover {
            text-decoration: underline $clr1 solid 3px;
            text-underline-offset: 13px;
        }
    }

}