.gig-list {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $mobile-breakpoint) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $narrow-breakpoint) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    @media (min-width: $normal-breakpoint) {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

}