.gig-program {
  height: fit-content;
  color: $clr5;
  border: 1px solid $clr7;

  .gig-program-name {
    border-right: 1px solid $clr7;
    padding: 16px;
    width: fit-content;
    margin: 0;
  }
}

.gig-program-info {
  border-top: 1px solid $clr7;
  width: 100%;

  .gig-program-price {
    color: $clr2;
  }

  .gig-program-subscribe {
    color: #026a5d;
  }

  .gig-program-basic {
    font-family: macan-bold;
  }

  .green-check {
    color: $clr1;
  }

}

.gig-details-side {
  width: 33.6%;
}

.gig-program-link-continue {
  width: 100%;
  background-color: $clr1;
  color: $clr3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 100%;
  padding: 12px 24px;
  text-align: center;
  position: relative;
  display: inline-block;

  &:hover {
    background-color: #026a5d;
    color: $clr3;
  }

  span {
    float: right;
  }
}

.contact-seller {
  box-sizing: border-box;
  margin-top: 16px;
  width: 100%;
  background-color: $clr9;
  text-align: center;
  padding: 24px;

  button {
    width: 100%;
    padding: 12px 24px;
    margin: 0;
    background-color: transparent;
    color: $clr2;
    font-family: macan-semibold;
    border: 1px solid $clr2;
    border-radius: 4px
  }

  button:hover {
    background-color: $clr5;
    color: $clr3;
  }
}