.progress-chart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    position: absolute;
    margin: 0;
  }

  circle:first-of-type {
    fill: none;
    stroke: $clr7;
    stroke-width: 10px;
    stroke-dasharray: 236;
  }

  circle:last-of-type {
    fill: none;
    stroke-dasharray: 236;
    stroke-width: 10px;
  }
}