.gig-search {
  display: flex;

  input {
    font-size: 1rem;
    border: 1px solid $clr8;
    border-right: 0;
    padding: .625em .125em .625em 1em;
    border-radius: .25em 0 0 .25em;
    width: 35vw;
  }

  .btn-gig-search {
    font-size: .875rem;
    width: fit-content;
    background-color: $clr2;
    border-radius: 0 .25em .25em 0;
    padding: .5em 1em;
    transition: 70ms cubic-bezier(.75, 0, .25, 1);
  }
}