.top-filter-bar {
    display: flex;
    margin-top: 16px;
}

.filter-menu {
    font-family: macan-semibold;
    border: 1px solid #dadbdd;
    padding: 6px 12px;
    border-radius: 4px;
    min-width: 50px;
    margin: 0 6px;
    cursor: pointer;
    position: relative;

    &:first-child {
        margin: 0;
    }
}

.price-filter-scroll {
    width: 317px;
    height: 169px;
    border: 1px solid $clr5;
    background-color: $clr3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    top: 45px;
    left: 0;
    justify-content: space-between;

    input {
        width: 120px;
        height: 24px;
    }

    label {
        display: block;
    }
}

.filter-price-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        border-radius: 4px;
    }
}

.price-filter-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.angle-down {
    font-size: 12px;
}

.top-filter-bar {
    select {
        border-radius: none;
    }
    select:active {
        background-color: grey;
    }
}