.app-header-nav {
    @include flex;
    padding: 1em 0;

    @media (max-width: $narrow-breakpoint) {
        .home-page-link {
            color: $clr3;
        }

        .grey-btn {
            color: $clr6;
        }
    }
}

.menu-toggle-btn {
    font-size: rem(24px);
    background-color: transparent;
    color: $clr2;
    line-height: 1;
    margin-right: em(15px, 24px);
}

.join-btn {
    font-size: rem(14px);
    color: $clr1;
    background-color: transparent;
    padding: em(10px, 14px) em(16px, 14px);
    border: 1px solid $clr1;
    border-radius: em(4px, 14px);
    transition: color .5s ease, border .5s ease;

    &:hover {
        background-color: $clr1;
        color: $clr3
    }
}

.home-page-btn {
    color: $clr3;
    border: 1px solid $clr3;

    &:hover {
        border: 1px solid $clr1;
    }
}

.app-header-aside {
    flex-basis: 50%;
    @include flex;

    @media (max-width: $narrow-breakpoint) {
        flex-basis: 100%;
    }
}

.app-header-main {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    font-family: macan-semibold;
    color: #74767e;

    &>* {
        margin-inline-start: em(24px, 16px);
    }

    img {
        border-radius: 50%;
        width: em(32px, 16px);
        height: em(32px, 16px);
        cursor: pointer;
    }

    @media (max-width: $narrow-breakpoint) {
        flex-basis: 0%;
    }
}