.app-header-nav {
    @include flex;
    padding: 1em 0;
    color: $clr13;

    .logo {
        color: $clr2;
    }
}

.menu-toggle-btn {
    font-size: rem(24px);
    line-height: 1;
    margin-right: em(15px, 24px);
}

.app-header-aside {
    flex-basis: 50%;
    @include flex;

    @media (max-width: $narrow-breakpoint) {
        flex-basis: 100%;
    }
}

.app-header-main {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    font-family: macan-semibold;

    a:hover {
        color: $clr1;
    }

    &>* {
        margin-inline-start: em(24px, 16px);
    }

    .user-header-img {
        line-height: 1;
    }

    .user-header-img,
    .user-orders {
        position: relative;
    }

    img {
        border-radius: 50%;
        width: em(32px, 16px);
        height: em(32px, 16px);
        cursor: pointer;
    }

    @media (max-width: $narrow-breakpoint) {
        flex-basis: 0%;
    }
}