.main-app-header {
    border-bottom: 1px solid #e4e5e7;
}

.app-header {
    background-color: transparent;
}

.logo {
    font-size: rem(27px);
    font-family: macan-bold;
    margin-right: em(32px, 27px);

    span {
        color: $clr1;
    }

    &:hover {
        color: $clr2;
    }
}