.categories-menu {
    // opacity: 1;
    overflow: hidden;

    ul {
        @include flex;
        margin: 0;
    }

    li {
        flex-shrink: 0;
        cursor: pointer;
    }

    li:not(:last-child) {
        padding-inline-end: em(20px, 16px);
    }
    
    a {
        line-height: 1.5;
        display: block;
        padding: em(8px, 16px) 0;
        color: $clr5;

        &:hover {
            box-shadow: inset 0px -3px 0 $clr1;
        }
    }

}