.dropdown {
    z-index: 10;
    min-width: 180px;
    top: 64px;
    right: 32px;
    background-color: $clr3;
    position: absolute;
    border: 1px solid $clr7;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);

    ul {
        margin: 0;
        font-family: macan-light;
    }

    li {
        cursor: pointer;
        display: flex;
    }

    a,
    span {
        text-align: left;
        padding: em(10px, 16px) 0;
        margin: 0 em(15px, 16px);
        color: $clr5;
        width: 100%;

        &:hover {
            color: $clr1;
        }
    }

    span {
        border-top: 1px solid $clr7;
    }
}