.gig-search {
  display: flex;
  width: 100%;

  input {
    font-size: 1rem;
    border: 1px solid $clr8;
    border-right: 0;
    padding: em(10px, 16px) em(2px, 16px) em(10px, 16px) 1em;
    border-radius: .25em 0 0 .25em;

  }

  &:focus-visible {
    outline: none;
  }

  .btn-gig-search {
    width: fit-content;
    background-color: $clr2;
    color: $clr3;
    border-radius: 0 .25em .25em 0;
    padding: em(8px, 16px) 1em;
    transition: 70ms cubic-bezier(.75, 0, .25, 1);
  }
}