* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: macan-regular;
    line-height: 1.6;
    color: $clr2;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
}

img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 5 / 3;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: $clr1;
}

select {
    font-family: macan-semibold;
    font-size:1rem;
}