.loader-contauner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.loader {
    border: .5em solid $clr7;
    border-radius: 50%;
    border-top: .5em solid $clr1;
    width: 50px;
    height: 50px;
    transform:rotate(45deg);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}