.slides-container {
    height: 80vh;
    position: relative;
    top: 0;

    h1 {
        position: absolute;
        z-index: 1;
    }
}

.home-page-slider {
    height: 100%;
    position: relative;
}

.hero-img {
    width: 100%;
    height: 100%;
    background-color: #023a15;
    background-position: center;
    background-size: cover;
    position: absolute;
    animation: fade 2s linear;
    transition: opacity .9s;
}

.hero-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: $layoutPadding;

    h1 {
        color: $clr3;
        font-size: 2.5rem;

        span:last-of-type {
            display: block;
        }

        i {
            padding: .4em;
        }
    }
}

.trusted-by {
    background-color: $clr9;
    color: #b5b6ba;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;

    .img-container {
        width: em(96px, 16px);
    }
}

.main-content {

    h2 {
        font-size: 2rem;
        margin-bottom: .75em;
    }
}

.selling-proposition {
    background-color: #f1fdf7;
    padding: em(96px, 18px) 0;
    margin-bottom: em(96px, 18px);

    .img-container {
        flex-basis: 53%;
    }
}

.selling-text {
    color: #404145;
    font-size: 1.125rem;
    padding-right: 7%;
    flex-basis: 46%;

    h6 {
        font-family: macan-bold;
        font-size: inherit;
        display: flex;
        align-items: center;
        margin-bottom: .5em;
    }

    span:first-of-type {
        font-size: 1.5rem;
        margin-right: 0.56em;
        color: $clr5;
    }
}