.home-page-slider {
    position: relative;
    background-color: #023a15;
    height: 90vh;
    top: 0;
}

.hero-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    // animation: fade 2s linear;
    // transition: opacity .9s;
}

.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;


}

.main-header {
    font-size: rem(40px);
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: $clr3;
    max-width: 650px;

    .gig-search {

        // border: 1px solid red;
        input {
            padding: em(14px, 16px) em(2px, 16px) em(14px, 16px) 1em;
        }

        .btn-gig-search {
            padding: em(12px, 16px) em(24px, 16px);
            background-color: $clr1;
        }
    }

    span:last-of-type {
        margin-bottom: em(24px, 40px);
    }

    i {
        font-weight: 500;
        padding: 0 .4em;
    }
}

.popular {
    display: flex;
    font-size: rem(14px);
    margin-top: em(24px, 14px);

    li {
        margin-inline-start: em(12px, 14px);
    }

    a {
        padding: 5px 12px 5px;
        border: 1px solid $clr3;
        border-radius: em(40px, 14px);
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: #fff;
            color: #404145;
        }
    }
}

.trusted-by {
    background-color: $clr9;
    color: #b5b6ba;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;

    .img-container {
        width: em(96px, 16px);
    }
}

.main-content {

    h2 {
        font-size: 2rem;
        margin-bottom: .75em;
    }
}

.selling-proposition {
    background-color: #f1fdf7;
    padding: em(96px, 18px) 0;
    margin-bottom: em(96px, 18px);

    .img-container {
        flex-basis: 53%;
    }
}

.selling-text {
    color: #404145;
    font-size: 1.125rem;
    padding-right: 7%;
    flex-basis: 46%;

    h6 {
        font-family: macan-bold;
        font-size: inherit;
        display: flex;
        align-items: center;
        margin-bottom: .5em;
    }

    span:first-of-type {
        font-size: 1.5rem;
        margin-right: 0.56em;
        color: $clr5;
    }
}