.user-index-add-link {
    background-color: $clr1;
    padding: 12px 24px;
    border-radius: 4px;
    color: $clr3;
    margin-bottom: 20px;



    &:hover {
        cursor: pointer;
        background-color: green;
        color: $clr3;
    }
}

.user-index-gig-list {
    margin-top: 40px;
}

.user-gig-list {
    .user-preview-btns {
        color: $clr5
    }

    .gig-edit-btn {
        background-color: transparent;
        color: $clr6;
        font-size: 1rem;
        margin: 5px 10px;
    }
}

.user-details {
    .user-img {
        height: 200px;
        width: 200px;
        background-size: contain;
    }
}

.status-options-btn {
    position: relative;

    button {
        background-color: #E2A114;
        width: 120px;
        padding: 12px;
        text-align: center;
        font-family: macan-bold;
        border-radius: 4px;
    }

    .Pending {
        background-color: #E2A114;
        width: 120px;
        padding: 12px;
        text-align: center;
        font-family: macan-bold;
        border-radius: 4px;
    }

    .Completed {
        background-color: $clr1;
        width: 120px;
        padding: 12px;
        text-align: center;
        font-family: macan-bold;
        border-radius: 4px;
    }

    .Declined {
        background-color: #F31F1F;
        width: 120px;
        padding: 12px;
        text-align: center;
        font-family: macan-bold;
        border-radius: 4px;
    }
}

.status-options {
    display: flex;
    flex-direction: column;
    width: 150px;
    border: 1px solid $clr7;
    background-color: $clr3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    position: absolute;
    justify-content: space-between;

    button {
        padding: 12px 24px;
        margin: 10px;
        text-align: center;
        font-family: macan-bold;
        border-radius: 4px;
    }

    .pending {
        background-color: #E2A114;
    }

    .completed {
        background-color: $clr1;
    }

    .declined {
        background-color: #F31F1F;
    }
}