.user-index-add-link {

    background-color: $clr1;
    padding: 12px 24px;
    border-radius: 4px;
    color: $clr3;
    display: block;
    text-align: center;
    width: 150px;

    margin-bottom: 20px;



    &:hover {
        cursor: pointer;
        background-color: green;
        color: $clr3;
    }
}


.user-gig-list {
    .user-preview-btns {
        color: $clr5
    }

    .gig-edit-btn {
        background-color: transparent;
        color: $clr6;
        font-size: 1rem;
        margin: 5px 10px;
    }
}

.user-details {
    .user-img {
        height: 200px;
        width: 200px;
        background-size: contain;
    }
}