.gig-preview-img {
    position: relative;
    height: 195px;

    &:hover {

        .prev,
        .next {
            display: block;
        }
    }

    /* Next & previous buttons */
    .prev,
    .next {
        background-position: -25px 0;
        cursor: pointer;
        display: none;
        // padding: 10px;
        // align-self: center;
        position: absolute;
        // top: 40%;
        // width: auto;
        // background-color: #fff;
        // color: #62646a;
        // width: 3em;
        // height: 3em;
        // box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
        // text-align: center;
    }

    .next {
        right: 0;
        transform: translate(0, 0);
    }

    .prev {
        transform: translate(0, 0);
    }

    span:after {
        background: transparent url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/apps/carousel-arrows.b9dde63.svg) no-repeat;
    }
}