.gig-details-side {
  width: 100%;
  height: fit-content;
  order: 2;
  margin-bottom: em(32px, 16px);

  @media (min-width: $narrow-breakpoint) {
    grid-area: aside;
    position: sticky;
    top: 32px;
  }
}

.gig-program {
  height: fit-content;
  color: $clr5;
  border: 1px solid $clr7;
}

.gig-program-name {
  display: flex;

  .active-basic {
    background-color: #fff;
    border-bottom: 3px solid #1dbf73;
    color: #1dbf73;
  }

  button {
    height: 64px;
    background-color: transparent;
    color: $clr5;
    flex-basis: 33.9%;
    border-bottom: 2px solid transparent;
    transition: all .6s;
    background-color: #fafafa;
    color: #74767e;

    &:not(:last-of-type) {
      border-right: 1px solid $clr7;
    }

    // &:hover {
    //   color: $clr1;
    //   border-bottom: 2px solid $clr1;
    // }
  }
}

.gig-program-info {
  padding: 36px 26px;
  border-top: 1px solid $clr7;
  width: 100%;

  .gig-program-price {
    color: $clr2;
    font-family: macan-bold;
    padding-bottom: 3px;
    font-size: 28px;
  }

  .delivery span {
    padding-inline-end: .5em;

    &::before {
      padding-right: .5em;
    }
  }

  p, ul {
    margin-bottom: em(24px, 16px);
  }

  .gig-program-subscribe {
    color: #026a5d;
  }

  .gig-program-basic {
    font-family: macan-bold;

  }

  .green-check {
    color: $clr1;
  }
}

.gig-program-link-continue {
  width: 100%;
  background-color: $clr1;
  color: $clr3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 100%;
  padding: 12px 24px;
  text-align: center;
  position: relative;
  display: inline-block;

  &:hover {
    background-color: #026a5d;
    color: $clr3;
  }

  span {
    float: right;
  }
}

.contact-seller {
  box-sizing: border-box;
  margin-top: 16px;
  width: 100%;
  background-color: $clr9;
  text-align: center;
  padding: 24px;

  button {
    width: 100%;
    padding: 12px 24px;
    margin: 0;
    background-color: transparent;
    color: $clr2;
    font-family: macan-semibold;
    border: 1px solid $clr2;
    border-radius: 4px
  }

  button:hover {
    background-color: $clr5;
    color: $clr3;
  }

}