.gig-sort {
  @include flex;
  position: relative;

  .sort-by {
    cursor: pointer;
    font-family: macan-bold;
    text-transform: capitalize;
    margin-left: em(6px);
  }

  .sort-by-options {
    font-family: macan-regular;
  }

  span {
    font-family: macan-light;
  }
}

.sort-by-options {
  position: absolute;
  right: 0;
  background-color: $clr3;
  padding: em(12px) em(24px);
  border-radius: em(4px);
  border: 1px solid #e4e5e7;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);

  .sort-option {

    &:first-child {
      margin-bottom: 1em;
    }

    label {
      display: inline-block;
      cursor: pointer;
      width: 100%;
    }

    input {
      display: none;
    }
  }
}
