.top-filter-bar {
    @include flex;

    .active-filter {
        background-color: #e8faf4;
        border-color: #a6eaca;
        transition: all 0.5s;
    }

    .filter-menu {
        font-family: macan-bold;
        margin-inline-end: em(12px);
        padding: em(6px) em(12px);
        border-radius: em(4px);
        border: 1px solid $clr7;
        cursor: pointer;
        position: relative;
    }
}

.delivery-filter-options,
.price-filter-scroll {
    position: absolute;
    left: 0;
    top: em(48px);
    background-color: $clr3;
    border-radius: em(4px);
    border: 1px solid #e4e5e7;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}

.delivery-filter-options {
    width: 195px;
    padding: em(12px) em(24px);

    .delivery-option {

        &:not(:last-child) {
            margin-bottom: em(12px);
        }

        label {
            font-family: macan-regular;
            display: flex;
            cursor: pointer;
        }

        input[type="radio"] {
            display: none;
            margin-left: em(8px);
        }

        input[type="radio"]+label span {
            width: 18px;
            height: 18px;
            margin-left: 8px;
            margin: 0px 8px 0 0;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 50%;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        input[type="radio"]+label span {
            background-color: transparent;
            border: 1px #95979d solid;
        }

        input[type="radio"]:checked+label .checked-input {
            background-color: #95979d;
            width: 8px;
            height: 8px;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
    }
}

.price-filter-scroll {

    input {
        width: 120px;
        height: 40px;
        border: 1px solid #dadbdd;
        border-radius: 4px;
    }

    label {
        display: block;
        color: #95979d;
        font-size: rem(14px);
        margin-bottom: 4px;
    }
}

.filter-price-btns {
    @include flex;
    font-family: macan-regular;
    font-size: rem(12px);
    padding: em(16px) em(24px);
    border-top: 1px solid $clr12;

    button {
        font-size: inherit;
        padding: em(4px, 14px) em(12px, 14px);
        border-radius: em(4px);
        background-color: $clr1;
        color: $clr3;
        line-height: 1.6;
    }

    @media (min-width: $mobile-breakpoint) {
        font-size: rem(14px);
    }
}

.price-filter-inputs {
    @include flex;
    flex-direction: column;
    padding: em(12px) em(24px);
    padding-bottom: em(24px);

    &>*:not(:last-child) {
        margin-bottom: em(12px);
    }

    label {
        font-family: macan-regular;
        font-size: rem(10px);
        margin-bottom: em(4px, 12px);
    }

    ::placeholder {
        font-size: rem(12px);
        font-family: macan-semibold;
        padding: em(8px, 14px) em(12px, 14px);
    }

    @media (min-width: $mobile-breakpoint) {
        flex-direction: row;

        &>*:not(:last-child) {
            margin-bottom: 0;
            margin-right: em(12px);
        }

        label {
            font-size: rem(12px);
        }

        ::placeholder {
            font-size: rem(14px);
        }
    }
}