.top-filter-bar {
    display: flex;
    .active-filter{
        background-color: #e8faf4;
        // color:#1dbf73;
        border-color: #a6eaca;
    }
}

.filter-menu {
    font-family: macan-semibold;
    border: 1px solid #dadbdd;
    padding: 6px 12px;
    border-radius: 4px;
    min-width: 50px;
    margin: 0 6px;
    cursor: pointer;
    position: relative;

    &:first-child {
        margin: 0;
    }
}

.top-filter-bar{
    .active-delivery{
        background-color: aqua;
    }
}

.delivery-filter-options{
    z-index: 99;
    width: 317px;
    border: 1px solid #dadbdd;
    background-color: $clr3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    position: absolute;
    top: 45px;
    left: 0;
    justify-content: space-between;
    padding: 12px 24px;

    .delivery-option {
        padding: 6px 0px;

        label {
            cursor: pointer;
            font-family: macan-bold;
            font-size: 14px;
            display: flex;
            margin-inline-end: 8px;
            margin-top: 4px;
            padding: 6px 0px;
        }

        input[type="radio"] {
            display: none;
            margin-left: 8px;
        }

        input[type="radio"]+label span {
            width: 18px;
            height: 18px;
            margin-left: 8px;
            margin: 0px 8px 0 0;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 50%;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            display: flex;

        }

        input[type="radio"]+label span {
            background-color: transparent;
            border: 1px #95979d solid;
        }

        input[type="radio"]:checked+label .checked-input {
            background-color: #95979d;
            width: 8px;
            height: 8px;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
    }
}

.price-filter-scroll {
    z-index: 99;
    width: 317px;
    border: 1px solid #dadbdd;
    background-color: $clr3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    position: absolute;
    top: 45px;
    left: 0;
    justify-content: space-between;

    input {
        width: 120px;
        height: 40px;
        border: 1px solid #dadbdd;
        border-radius: 4px;
    }

    label {
        display: block;
        color: #95979d;
        font-size: 14px;
        margin-bottom: 4px;
    }
}

.filter-price-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-top: 1px solid #e4e5e7;

    button {
        padding: 4px 12px;
        border-radius: 4px;
        font-family: macan-semibold;
        line-height: 22px
    }

    div {
        color: #95979d;
        font-size: 14px;
        align-self: center;
    }
}

.price-filter-inputs {
    padding: 16px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    ::placeholder {
        font-size: 14px;
        font-family: macan-semibold;
        padding: 8px 12px
    }
}

.angle-down {
    font-size: 12px;
}

.top-filter-bar {
    select {
        border-radius: none;
    }

    select:active {
        background-color: grey;
    }
}

.filter-days {
    option option {
        background-color: aqua;
        line-height: 2;
    }

    option:checked,
    option:not(:checked) {
        font-family: macan-regular;
        font-size: 14px;
        display: block;
        padding: 50px;
        line-height: 2;
    }
}