.statstic-show {
  display: flex;
  align-items: center;
  border: 1px solid $clr7;
  padding: 12px 5px;
  justify-content: start;

  h3 {
    height: 40px;
    padding-top: 5px;
  }

  .statstic-total {

    text-align: center;
    margin-right: 30px;
  }






  .statstic-pending {
    color: #E2A114
  }

  .statstic-declined {
    color: #F31F1F
  }

  .statstic-completed {
    color: $clr1;
  }
}