.user-profile {
  margin-right: 50px;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  margin-right: 50px;
  border: 1px solid $clr7;

  .user-profile-btn-online {
    border-radius: 12px;
    border: 1px solid $clr1 ;
    color: $clr1;
    background-color: transparent;
  }

  .user-camera-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: $clr6;
    font-size: 32px;
  }

  .user-profile-img {
    margin: 30px;

    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;

    }
  }

  .profile-edit-btn {
    margin: 20px;
    background-color: transparent;
    color: $clr7;

  }

  .profile-edit-preview-btn {
    margin: 20px;
    display: block;
    background-color: transparent;
    font-size: 14px;
    padding: 10px 16px;
    border: 1px solid $clr5;
    color: $clr5;
    border-radius: 4px;

    &:hover {
      transition: background-color 70ms cubic-bezier(.75, 0, .25, 1);
      background-color: $clr5;
      color: $clr3 ;
    }

  }

  .user-profile-from {
    padding: 20px;
    @include flex;
    width: 100%;
    color: $clr5
  }

  .user-profile-from-name {
    padding-left: 20px;
  }

  .user-profile-from-bold {
    font-family: macan-bold;
  }
}