.wish-list {
  min-height: 80vh;

  h1 {
    font-size: rem(26px);
    font-family: macan-semibold;
    margin: em(30px, 26px) 0;
  }

  h2 {
    font-size: rem(20px);
    font-family: macan-semibold;
    margin-top: em(30px, 20px);
  }
}