.user-seller-table {

  .statstic {
    @include flex;
    // border: 1px solid red;
    border: 1px solid $clr11;
    margin-bottom: 1em;

    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      padding: 1em 0;
    }
  }
}

.statstic-preview {
  border: .5em solid $clr7;
  border-radius: 50%;
  // border-top: .5em solid $clr1;
  width: 50px;
  height: 50px;
}




.user-sales {
  width: 100%;
  margin-bottom: 30px;
}

.statstic-show {
  display: flex;
  align-items: center;
  border: 1px solid $clr7;
  padding: 12px 5px;
  justify-content: center;
  margin-bottom: 30px;


  h3 {
    height: 40px;
    padding: 20px;
  }

  .statstic-total {

    text-align: center;

  }

  .statstic-pending {
    color: #E2A114
  }

  .statstic-approved {
    color: #f2710f
  }

  .statstic-declined {
    color: #F31F1F
  }

  .statstic-completed {
    color: $clr1;
  }
}

.status-options-btn {
  position: relative;

  button {
    background-color: #E2A114;
    width: 120px;
    padding: 12px;
    text-align: center;
    font-family: macan-bold;
    border-radius: 4px;
  }

  .pending {
    background-color: #E2A114;
    width: 120px;
    padding: 12px;
    text-align: center;
    font-family: macan-bold;
    border-radius: 4px;
  }

  .approved {
    background-color: #f2710f;
    width: 120px;
    padding: 12px;
    text-align: center;
    font-family: macan-bold;
    border-radius: 4px;
  }

  .completed {
    background-color: $clr1;
    width: 120px;
    padding: 12px;
    text-align: center;
    font-family: macan-bold;
    border-radius: 4px;
  }

  .declined {
    background-color: #F31F1F;
    width: 120px;
    padding: 12px;
    text-align: center;
    font-family: macan-bold;
    border-radius: 4px;
  }
}

.status-options {
  display: flex;
  flex-direction: column;
  width: 150px;
  border: 1px solid $clr7;
  background-color: $clr3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  position: absolute;
  justify-content: space-between;

  button {
    padding: 12px 24px;
    margin: 10px;
    text-align: center;
    font-family: macan-bold;
    border-radius: 4px;
  }

  .pending {
    background-color: #E2A114;
  }

  .approved {
    background-color: #f2710f;
  }

  .completed {
    background-color: $clr1;
  }

  .declined {
    background-color: #F31F1F;
  }
}