.user-seller-table {
  margin-bottom: 1em;
  // border: 1px solid red;
}

.statstic-dashboard {
  @include flex;
  border: 1px solid $clr11;
  margin-bottom: 1em;

  h4 {
    margin-bottom: .5em;
  }

  .orders-num {
    font-size: rem(22px);
  }

  li {
    @include flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em 0;

    &:first-of-type {
      min-height: 136px;
    }
  }
}

.orders-dashboard {

  li {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr;
    border: 1px solid $clr11;
    margin-bottom: 1em;

    small {
      color: $clr6;
    }

    div {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1em;
      padding-right: 0;
    }

    span {
      // border: 1px solid red;
      cursor: pointer;
    }
  }

  .pending {
    color: #feb849;
  }

  .approved {
    color: #21ca79;
  }

  .completed {
    color: #5b85fd;
  }

  .declined {
    color: #f46875;
  }

  .status-container {
    position: relative;
    padding: 0;
  }

  .status-options {
    border: 1px solid #e4e5e7;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    background-color: $clr3;
    padding: .5em 1em;

    &>* {
      margin: .5em 0;
    }
  }
}



// .status-options {
//   display: flex;
//   flex-direction: column;
//   width: 150px;
//   border: 1px solid $clr7;
//   background-color: $clr3;
//   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//   border-radius: 4px;
//   position: absolute;
//   justify-content: space-between;

//   button {
//     padding: 12px 24px;
//     margin: 10px;
//     text-align: center;
//     font-family: macan-bold;
//     border-radius: 4px;
//   }

//   .pending {
//     background-color: #E2A114;
//   }

//   .approved {
//     background-color: #f2710f;
//   }

//   .completed {
//     background-color: $clr1;
//   }

//   .declined {
//     background-color: #F31F1F;
//   }
// }