.wish-list {
  min-height: 80vh;

  h1 {
    font-size: rem(26px);
    font-family: macan-semibold;
    margin-top: 30px;
    margin-bottom: 30px;

  }

  h2 {
    font-size: rem(20px);
    font-family: macan-semibold;
    margin-top: 30px;

  }
}