.buy-order-list {
  border: 1px solid $clr7;
  height: fit-content;
  width: 500px;
  background-color: #fff;
  right: 50px;
  top: 60px;
  position: absolute;

  border-bottom: 1px solid $clr7 ;
  align-items: center;
  z-index: 40;

  .order-container {
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid $clr10;
  }

  .buy-order-img {
    width: 40px;
    margin: 20px;
  }

  .buy-order-seller-status {
    display: flex;
  }

  .buy-order-sellername {
    color: $clr6;
    margin-right: 10px;
  }

  .buy-order-status {
    color: $clr1;
  }
}