.user-index {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2em;

  .user-info {
    flex-basis: 100%;
  }

  .user-main {
    flex-basis: 100%;

    h1 {
      padding-bottom: em(24px, 16px);
    }
  }

  @media (min-width: 900px) {
    flex-direction: row;

    .user-main {
      flex-basis: 58.33333%;
      padding-left: 2em;
    }

    .user-info {
      flex-basis: 41.66667%;
      padding-right: 2em;
    }
  }

  @media (min-width: 1160px) {
    .user-main {
      flex-basis: 66.66667%;
    }

    .user-info {
      flex-basis: 33.33333%;
    }
  }

  .review {
    .long-txt button {
      // border: 1px solid red;
      background-color: transparent;
    }
  }
}

