/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $padded-break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $padded-break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $padded-break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $padded-break-wide) {
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}