@font-face {
    font-family: macan-semibold;
    src: url(../../fonts/macan/macan-semibold.woff2);
}

@font-face {
    font-family: macan-regular;
    src: url(../../fonts/macan/macan-regular.woff2);
}

@font-face {
    font-family: macan-light;
    src: url(../../fonts/macan/macan-light.ttf);
}

@font-face {
    font-family: macan-bold;
    src: url(../../fonts/macan/macan-bold.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(../../fonts/font-awesome/fa-solid-900.ttf);
}

@font-face {
    font-family: fa-regular;
    src: url(../../fonts/font-awesome/fa-regular-400.ttf);
}

@font-face {
    font-family: fa-brands;
    src: url(../../fonts/font-awesome/fa-brands-400.ttf);
}

/* solid */

.fa-solid:after {
    font-family: fa-solid;
}

.fa-solid.chevron-left:after {
    content: "\f053";
}

.fa-solid.chevron-right:after {
    content: "\f054";
}

.fa-solid.xmark:after {
    content: "\f00d";
}

.fa-solid.sort-up:after {
    content: "\f0de";
}

.fa-solid.sort-down:after {
    content: "\f0dd";
}

.fa-solid.arrow-rigth:after {
    content: "\f061";
}

.fa-solid.arrow-left:after {
    content: "\f060";
}

.fa-solid.heart:after {
    content: "\f004";
}

.fa-solid.bars:after {
    content: "\f0c9";
}

.fa-solid.star:after {
    content: "\f005";
}

.fa-solid.fa-check:after {
    content: "\f00c";
}

.fa-solid.magnifying-glass:after {
    content: "\f002";
}

.fa-solid.angle-down:after {
    content: "\f107";
}

.fa-solid.fa-location-dot:after {
    content: "\f3c5";
}

.fa-solid.fa-user:after {
    content: "\f007";
}

.fa-solid.fa-pencil:after {
    content: "\f303";
}

.fa-solid.fa-camera:after {
    content: "\f030";
}

.fa-solid.fa-bars:after {
    content: "\f0c9";
}

.fa-solid.fa-bars:after {
    content: "\f0c9";
}

.fa-solid.fa-circle:after {
    content: "\f111";
}

.fa-solid.roket:after {
    content: "\f135";
}

.fa-solid.plus:after {
    content: "\2b";
}

.fa-solid::before {
    font-family: fa-solid;
}

.fa-solid.arrows-rotate::before {
    content: "\f021";
}

.fa-solid.location-dot::before {
    content: "\f3c5";
}

.fa-solid.user::before {
    content: "\f007";
}

.fa-solid.clock::before {
    content: "\f017";
}

.fa-solid.paper-plan::before {
    content: "\f1d8";
}


/* regular */

.fa-regular:after {
    font-family: fa-regular;
}

.fa-regular.heart:after {
    content: "\f004";
}

.fa-regular.envelope:after {
    content: "\f0e0";
}

.fa-regular.bell:after {
    content: "\f0f3";
}

.fa-regular.pen-to-sgure:after {
    content: "\f044";
}

.fa-regular.trash-can:after {
    content: "\f2ed";
}

.fa-regular.circle-check:after {
    content: "\f058";
}

.fa-regular.file:after {
    content: "\f15b";
}

.fa-regular::before {
    font-family: fa-regular;
}

.fa-regular.clock::before {
    content: "\f017";
}

/* brands */

.fa-brands:after {
    font-family: fa-brands;
}

.fa-brands.twitter:after {
    content: "\f099";
}

.fa-brands.facebook:after {
    content: "\f09a";
}

.fa-brands.linkedin:after {
    content: "\f08c";
}

.fa-brands.pinterest:after {
    content: "\f0d2";
}

.fa-brands.pinterest:after {
    content: "\f0d2";
}

.fa-brands.instagram:after {
    content: "\f16d";
}