@font-face {
    font-family: macan-semibold;
    src: url(../../fonts/macan/macan-semibold.woff2);
}

@font-face {
    font-family: macan-regular;
    src: url(../../fonts/macan/macan-regular.woff2);
}

@font-face {
    font-family: macan-light;
    src: url(../../fonts/macan/macan-light.ttf);
}

@font-face {
    font-family: macan-bold;
    src: url(../../fonts/macan/macan-bold.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(../../fonts/font-awesome/fa-solid-900.ttf);
}

@font-face {
    font-family: fa-regular;
    src: url(../../fonts/font-awesome/fa-regular-400.ttf);
}

/* solid */

.fa-solid:after {
    font-family: fa-solid;
    color: var(--clr-font);
}

.fa-solid.xmark:after {
    content: "\f00d";
}

.fa-solid.arrow-left:after {
    content: "\f060";
}

.fa-solid.sort-up:after {
    content: "\f0de";
}

.fa-solid.sort-down:after {
    content: "\f0dd";
}

.fa-solid.arrow-rigth:after {
    content: "\f061";
}

.fa-solid.arrow-left:after {
    content: "\f060";
}

.fa-solid.heart:after {
    content: "\f004";
}

.fa-solid.bars:after {
    content: "\f0c9";
}

/* regular */
.fa-regular:after {
    font-family: fa-regular;
    color: var(--clr-font);
}

.fa-regular.pen-to-sgure:after {
    content: "\f044";
}

.fa-regular.trash-can:after {
    content: "\f2ed";
}

.fa-solid.magnifying-glass:after {
    content: "\f002";
}