.gig-index {
    min-height: 80vh;

    h1 {
        font-size: rem(26px);
        font-family: macan-semibold;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    p {
        color: $clr5;
        font-size: rem(14px);
        line-height: calc(22 / 14);
        font-family: macan-semibold;
        margin-bottom: em(25px, 14px);
    }
}

.filter-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: em(24px, 16px);
}