.gig-details {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: em(32px, 16px) em(32px, 16px) 0 em(32px, 16px);
  margin: 0 auto;
  max-width: 1304px;

  p {
    font-size: 1rem;
    margin: 0;
  }

  h4 {
    font-size: rem(20px);
    padding-bottom: em(25px, 20px);
  }

  .gig-details-info {
    width: 60%;

    // span {
    //   display: block;
    //   color: #446ee7;
    // }

    h1 {
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-size: 28px;
      line-height: 1.4;
      font-family: macan-bold;

    }

    .gig-details-user-details {
      margin-top: 20px;



      .gig-details-user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 30px;

      }
    }
  }
}

// .containerStyles {
//   margin-top: 15px;
//   width: 100%;
//   height: 380px;
//   margin: 0 auto;
//   margin-bottom: 64px;
// }

.gig-review-section {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 25px;
}

.gig-details .gig-details-user-details,
.gig-about-owner-details {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .user-fullname {
    margin-right: 8px;
    font-size: 1rem;
    font-family: macan-bold;
  }

  p {
    margin-right: 10px;
  }
}

.gig-description p {
  margin-bottom: 3em;
}

.gig-about-owner-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 15px;
}

.gig-about-owner-container {
  border: 1px solid $clr8;
  border-radius: 3px;
  margin-top: 0;
  padding: 24px;
  margin-bottom: em(64px, 16px);
}

.contact-me-btn {
  background-color: $clr3;
  color: $clr5;
  border: 1px solid $clr5;
  padding: 12px 24px;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.owner-container-header {
  display: grid;
  grid-template-columns: (1fr 1fr);


  .owner-title {
    margin-bottom: 0;
  }

  .owner-answer {
    font-family: macan-bold;
  }

}

.owner-container-desc {
  border-top: 1px solid $clr7;

  .desc-first {
    padding-top: 2rem;
  }

  p {
    margin-bottom: 1.8rem;
  }
}